body{
    
    background-image: url(images/flower.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
    
    
}
.contactus{
    height: 100%;
    width: 140px;
    position: fixed;
    overflow: hidden;
    padding-top: 30px;
    background-color: aqua;
}
.contactus a{
    padding: 16px 8px 8px 18px;
    text-decoration: none;
    display:block;
    
}
.contactus a:hover{
    color: beige;
    background-color: black;
}

h1{
    font-size: 45px;
    padding-top: 20px;
    padding-left: 500px;
    color: brown;
}
h2{
    padding-left: 500px;
}
.footer{
    padding: 10px 10px 4px 8px ;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
}