<app-header></app-header>


<div class="form-container">
    <div class="heading">Add New Product</div>
    <form class="add-record-form">
        <div class="form-group">
            <label for="productCode">Product Code*</label>
            <input type="text" class="form-control" placeholder="Enter Product Code" name="productCode" [(ngModel)]="product.productCode">
        </div>
        <div class="form-group">
            <label for="productName">Product Name*</label>
            <input type="text" class="form-control" placeholder="Enter Product Name" name="productName" [(ngModel)]="product.productName">
        </div>
        <div class="form-group">
            <label for="productBrand">Product Brand*</label>
            <input type="text"  class="form-control" placeholder="Enter Product Brand" name="productBrand" [(ngModel)]="product.productBrand">
        </div>
        <div class="form-group">
            <div class="error"*ngIf="validateData(); valid">{{errorMsg}}</div>
            <button  class="btn btn-primary" *ngIf="!validateData()"  (click)="registerProduct()">Submit</button>
        </div>
    </form>
</div>


