.navbar{
    position: relative;
    width: 100%;
    height: 50px;
    

    .navbar-brand{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
       
    }    
}
