<app-header-wbtn></app-header-wbtn>
<div class="btn btn-outline-dark btn-logout" (click)="logout()">Logout</div>

<div class="table-container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="col-sm-1" >Product Code</th>
                <th scope="col" class="col-sm-1">Product Rating</th>
                <th scope="col">Product Review</th>
                <th scope="col" class="col-sm-2">Reviewers Email</th>
                <th scope="col" class="col-sm-2">Add /   Remove</th>

                <!-- <th scope="col">Read Reviews</th>-->

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let review of potentialReviews">
                <th scope="row">{{review.productCode}}</th>
                <td>{{review.productRating}}</td>
                <td>{{review.reviewContent}}</td>
                <td>{{review.reviewerEmail}}</td>
                <td>
                    <div class="icons ">
                        <i class="bi bi-plus-circle btn-add"  title="Add to main DB" (click)="addReview(review)"></i>
                        <i class="bi bi-trash3-fill btn-delete" title="Delete review" (click)="deleteReview(review.id)"></i>
                    </div>
                </td>

            </tr>

        </tbody>
    </table>
</div>