<div class="btn btn-outline-danger home-btn" style="padding: 10px; margin: 10px;" (click)="router.navigate(['/home']);">Home</div>

<div class="login-container">
    <div class="login-form">
        <div class="heading-form">Login</div>
        <div class="form-group">
            <label for="uname">Email id</label>
            <input type="text" name="uname" class="form-control" [(ngModel)]="emailId">
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" name="pass" class="form-control" [(ngModel)]="password">
        </div>
        <div class="btn-container">
            <button class="btn btn-outline-success btn-lg loginBtn" (click)="login()">Login</button><br>
            <div class="error">{{errorMsg}}</div>
            <button class="btn btn-outline-danger btn-lg SignUpBtn" (click)="signUp()">SignUp</button>
        </div>
    </div>
</div>