* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  color: grey;
  background-color: white;
  height: 100%;
  padding: 2rem;
  overscroll-behavior-y: none;

  /*
  */
}
table,
th,
td {
  border: 1px solid black;
  padding: 1rem;
}

table {
  border-spacing: 15px;
}
td {
  font-size: 12px;
}
