* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  color: grey;
  background-color: white;
  height: 100%;
  padding: 2rem;
  overscroll-behavior-y: none;

  /*
  */
}
.form_preview {
  height: 100%;
  width: 100%;
  border: 2px solid red;
  z-index: 0;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}
/*
.tableResult {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  table {
    height: 100%;
    width: 100%;
    border-spacing: 15px;
  }
}*/

table {
  width: 90%;
}
table,
th,
td {
  padding: 1vh;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}
th,
td {
  padding: 10px;
  font-size: 12px;
}

.hidden {
  display: none;
}
.photo_preview_modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
  z-index: 10;
  padding: 5rem;
  background-color: rgba(232, 232, 232, 0.8);
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
}
.close_photoPreview_btn {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 4rem;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255 0.6);
  backdrop-filter: blur(6px);
  z-index: 5;
}
