<div class="container card-container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">Total Products</p>
                </div>
                <div class="card-value">{{productCount}}</div>

            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">Total Reviews</p>
                </div>
                <div class="card-value">{{reviewCount}}</div>

            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p class="card-text">Total Registered Users</p>
                </div>
                <div class="card-value">{{userCount}}</div>
            </div>
        </div>
    </div>
</div>